.dark {
    background-color: #082032;
    color: white;
}

.light {
    background-color: #F4F9F9;
}

.dark .MuiPaper-root,
.dark .MuiCard-root,
.dark .MuiTableCell-root {
    background-color: #082032 !important;
    color: white !important;
}